/* --- CSS RESET --- */

* {
  font-family: "Inter", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #131312;
}
html {
     background: #333333;
   }
h1,
h2,
h3,
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: #131312;
}
img {
  max-width: 100%;
  display: block;
}
