/* TODO MOBILE FIRST */

.section {
  display: none;
}

.header-hamburger img {
  cursor: pointer;
}

.menu {
  display: none;
}

.menu.active {
  display: block;
}

.section.home.active {
  background-color: var(--A5);
  margin: 0 auto;
  width: 90vw;
  padding: 10px 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.section.home.horizontal__picture.active {
  background: var(--D5);
}

.section.about.active {
  background-color: var(--B5);
  margin: 0 auto;
  width: 90vw;
  padding: 10px 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.section.professional.active {
  background-color: var(--B5);
  margin: 0 auto;
  width: 90vw;
  padding: 10px 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.header {
  background: var(--G5);
}

.header .header-menu-wrapper {
  background: var(--E5);
}

.header .header-menu-wrapper .header-hamburger {
  background: var(--C5);
}

/* nn aparece cor/fundo */
.header .header-menu-wrapper .menu {
  background: var(--D5);
}

/* nn aparece cor/fundo */
.header .header-menu-wrapper .menu ul {
  background: var(--C5);
}

.header .header-menu-wrapper .menu ul li {
  background: var(--B5);
}

.header .header-menu-wrapper .menu ul li a {
  background: var(--A5);
}
