@import url("global.css");
@import url("menu.css");
@import url("menuBigScreens.css");
@import url("menuHover.css");

:root {
  --G13: #131312;
  --G12: #292929;
  --G11: #3d3d3d;
  --G10: #525252;
  --G9: #666666;
  --G8: #7a7a7a;
  --G7: #8f8f8f;
  --G6: #a3a3a3;
  --G5: #b8b8b8;
  --G4: #cccccc;
  --G3: #eaeaea;
  --G2: #f5f5f5;
  --G1: #fafafa;
  --E10: #fbeeff;
  --E9: #e3cae7;
  --E8: #c4a6cf;
  --E7: #a27fb5;
  --E6: #8762a2;
  --E5: #6a4c93;
  --E4: #5a3f7e;
  --E3: #483067;
  --E2: #2e1e4c;
  --E1: #080220;
  --D10: #ddf2ff;
  --D9: #98c9e8;
  --D8: #6eb2dc;
  --D7: #439ad0;
  --D6: #1982c4;
  --D5: #146aa5;
  --D4: #0f4d7f;
  --D3: #0a3560;
  --D2: #061f44;
  --D1: #020928;
  --C10: #e5f5b7;
  --C9: #cce98f;
  --C8: #b6de6c;
  --C7: #a0d449;
  --C6: #8ac926;
  --C5: #72aa1f;
  --C4: #578717;
  --C3: #3b630f;
  --C2: #204008;
  --C1: #041c00;
  --B10: #fff9d3;
  --B9: #ffeeb9;
  --B8: #ffe598;
  --B7: #ffdb75;
  --B6: #ffd153;
  --B5: #ffca3a;
  --B4: #f5b323;
  --B3: #ce840e;
  --B2: #6f4102;
  --B1: #532700;
  --A10: #ffe6f9;
  --A9: #ffcce8;
  --A8: #ffa5c8;
  --A7: #ff8daa;
  --A6: #ff6e82;
  --A5: #ff595e;
  --A4: #c34048;
  --A3: #8d2a33;
  --A2: #651a23;
  --A1: #390813;
}
